@font-face {
    font-family: "poppins";
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("OpenType");
    font-weight: 400;
}

@font-face {
    font-family: "poppins";
    src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf") format("OpenType");
    font-weight: 600;
}

@font-face {
    font-family: "poppins";
    src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf") format("OpenType");
    font-weight: 700;
}