@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.tasks {
    padding:0 1rem;
    // margin-bottom: 3rem;

    &__container {
        height: 33rem;
        overflow-y: auto;
        scroll-behavior: smooth;
        scroll-margin-bottom: auto; 
        scroll-padding-bottom: 1rem; 
    }
    
   
    &__container:focus {
        outline: none;
    }
    

    &__event-container {
        background: url("../../assets/capstone-icons/Frame-blue.svg") no-repeat;
        background-position: center center;
        background-size: contain;
        width: 100%;
        height: 20rem;
        padding: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        text-align: center;
        border-bottom: 0.4rem dotted silver;
    }


    &__iscomplete {
        display: flex;
        background-color: $background_color1;
        border: 0.2rem solid blue;
        border-radius: 28px;
        width: 9rem;
        margin: 1rem;
    }

    &__complete {
        width: 100%;
        font-size: 1rem;
    }

    &__label {
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__category {
        font-size: 1.5rem;
    }

    &__created-at {
        font-size: 1.5rem;
    }

    &__due-at {
        font-size: 1.5rem;
    }

}

// .tasks__iscomplete.complete {
//     color: green;
//   }

//   .tasks__iscomplete.incomplete {
//     color: red;
//   }
