
$primary_color1: #AFE69C;
$primary_color2: #E7FFDF;
$primary_color3: #0FA958;
$primary_color4: #000;

$divider_color: #989898;

$container_color1: #FFE3E3;
$container_color2: #D7D3BE;
$container_color3: #CEE2FF;

$checkbox_color1: #AD6969;
$checkbox_color2: #9B8E08;
$checkbox_color3: #3B66FE;

$background_color1: #fff;


$error_color: #c94515;
$supporting_color3: rgba(21, 132, 99, 0.07);
$supporting_color4: rgba(201, 69, 21, 0.07);
$color-primary: #2563eb; $color-text: #111827; $color-muted: #6b7280; $radius: 1.2rem; $shadow: 0 10px 30px rgba(0,0,0,.06);
