@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.todo {
    padding: 1rem;

    // &__title-container {}

    // &__title {}

    &__container {
        background: url("../../assets/capstone-icons/rectangular-folder.svg") no-repeat;
        background-position: center center;
        @include flexbox(row, space-between, center);
        width: 100%;
        height: 11rem;


    }

    &__checklist-icon {
        width: 20%;
    }

    &__task-folder {
        @include flexbox(column, space-between, null);
        width: 60%;
        font-size: 2rem;
    }

    &__dots-icon {
        width: 20%;
    }
}