@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
    padding: 1rem;

    &__title-container {}

    &__title {
        padding: 1rem
    }

    &__cards {
        @include flexbox(row, space-between, null);
        height: 26rem;
    }

    &__wishlist-icon {
        margin: 1rem 1rem 0;
    }

    &__left-card {
        background: url("../../assets/capstone-icons/Rectangle-tall-file.svg") no-repeat;
        background-position: center center;
        background-size: contain;
        width: 50%;
        padding: 1rem;

    }

    &__left-category {
        @include flexbox(column, space-between, center);
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    &__left-text {
        @include flexbox(column, space-between, center);
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.5rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__right-cards {
        @include flexbox(column, space-between, null);
        width: 50%;
    }

    &__tasks-wrapper {
        background: url("../../assets/capstone-icons/stickyPad.svg") no-repeat;
        height: 13rem;
        position: relative;
        background-size: contain;
    }

    &__check-icon {
        padding: 1rem 1.5rem;
    }

    &__right-category {
        @include flexbox(row, space-between, center);
        position: absolute;
        top: 6rem;
        left: 15rem;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: $checkbox-color1;

        &--complete {
            @include flexbox(row, space-between, center);
            position: absolute;
            top: 6rem;
            left: 15rem;
            transform: translate(-50%, -50%);
            font-size: 4rem;
            color: $checkbox-color2;
        }
    }

    &__item-counter {
        @include flexbox(row, space-between, center);
        padding: 0 2rem;
    }

    &__complete-wrapper {
        background: url("../../assets/capstone-icons/stickypad2.svg") no-repeat;
        height: 13rem;
        position: relative;
        background-size: contain;
    }

}

